altgraph==0.15
certifi==2017.11.5
chardet==3.0.4
docopt==0.6.2
future==0.16.0
idna==2.6
macholib==1.9
pefile==2017.11.5
Pillow==5.0.0
pipreqs==0.4.9
py2exe==0.9.2.2
pycryptodome==3.4.7
pygame==1.9.3
PyInstaller==3.3.1
pypiwin32==220
requests==2.18.4
urllib3==1.22
yarg==0.1.9
